
.wc, .w3-panel {
    padding: 0.01em 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
.w3-white, .w3-hover-white:hover {
    color: #000!important;
    background-color: #fff!important;
}
.w3-lg, .w3-hover-lg:hover, .w3-light-gray, .w3-hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}
html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.wc :after, .wc :before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.wc :after, .wc 



:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
    content: "";
    display: table;
    clear: both;
}
*, *:before, *:after {
    box-sizing: inherit;
}
* {
  box-sizing: border-box;
}
body {
  font-family:Sofia;
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  background-image:url('https://images.unsplash.com/photo-1505330622279-bf7d7fc918f4?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
  color:black;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header h1 {
  font-size: 40px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align:center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  color: black;
}
.navbar a.active {
  background-color: #666;
  color: white;
}
.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}

.side {
  -ms-flex: 30%;
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
.main {   
  -ms-flex: 70%; 
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: black;
  text-align: center;}
  img{
width: 20%;
height:20%;

}
.body{
height: 180px;
width: 300px;
}
.flex-container {

  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
 
}

.flex-container > img {
  background-color: #f1f1f1;
  width: 40%px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
#responsive {
  width: 20%;
  height: auto;
  

@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}